/* .Team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30rem;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
} */

img {
  width: 250px;
}
