div {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.welcome {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.row {
  display: flex; /* equal height of the children */
}

.stats {
  float: left;
  width: 50%;
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border: solid;
}

.reset {
  flex-direction: column;
  font-size: 30px;
}

.team {
  height: 600px;
}

.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.myButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.myButton:active {
  position: relative;
  top: 1px;
}
