.row {
  display: flex; /* equal height of the children */
}

.scoreboard {
  float: left;
  width: 50%;
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border: solid;
}

.scoreboard-container {
  background-color: rgb(80, 20, 20);
  color: rgb(223, 174, 85);
}
